@import "tailwindcss" prefix(tw);
@source "./index.html";
@source "./index.js";

:root {
    --primary-100: #d6e4ef;
    --primary-200: #adc8e0;
    --primary-300: #84add0;
    --primary-400: #5b91c1;
    --primary: #3276b1;
    --primary-600: #2d6a9f;
    --primary-700: #285e8e;
    --primary-800: #23537c;
    --primary-900: #1e476a;

    --primary-foreground: #ffffff;
}

@theme {
    --color-primary-100: var(--primary-100);
    --color-primary-200: var(--primary-200);
    --color-primary-300: var(--primary-300);
    --color-primary-400: var(--primary-400);
    --color-primary: var(--primary);
    --color-primary-600: var(--primary-600);
    --color-primary-700: var(--primary-700);
    --color-primary-800: var(--primary-800);
    --color-primary-900: var(--primary-900);

    --color-primary-foreground: var(--primary-foreground);
}

.table-imunisasi {
}
